@model AppPeluqueriaMVC.Models.Cosmetico
@{
    ViewData["Titel"] = "Editar cosmetico";
}


<h1 class="text-center offset-1">Cosmetico</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Editar producto</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="EditarCosmetico" method="post" enctype="multipart/form-data">
                    <input asp-for="Codigo" type="hidden">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cantidad" class="control-label"></label>
                        <input asp-for="Cantidad" class="form-control" placeholder="Ingresa el Cantidad">
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" placeholder="Ingresa el Precio" type="number" step="any">
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="imagenProducto" class="form-control" type="file" id="IMAGEN1" name="upload">
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary d-block mx-auto"><i class="bi bi-person-check"></i>Gurdar cambios</button>
                    </div>
                </form>

                <a asp-controller="Cosmetico" asp-action="VistaCosmetico">Volver</a>
            </div>
        </div>
    </div>
</div>