@model AppPeluqueriaMVC.Models.Cita
@{
    //ViewData["Title"] = "Crear nueva cita";
}

<h1 class="text-center offset-1">Citas</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Agendar nueva cita</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="CrearCita" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Campo para Fecha de la Cita -->
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label">Fecha de la Cita</label>
                        <input asp-for="Fecha" class="form-control" type="datetime-local" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoServicio" class="control-label">Tipo de Servicio</label>
                        <select asp-for="TipoServicio" asp-items="@(new SelectList(ViewBag.Servicios, "Value", "Text"))" class="form-control">
                            <option value="">Seleccione un cliente</option>
                        </select>
                        <span asp-validation-for="TipoServicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id_Cliente" class="control-label">Cliente</label>
                        <select asp-for="Id_Cliente" asp-items="@(new SelectList(ViewBag.Clientes, "Value", "Text"))" class="form-control">
                            <option value="">Seleccione un cliente</option>
                        </select>
                        <span asp-validation-for="Id_Cliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id_Empleado" class="control-label">Empleado</label>
                        <select asp-for="Id_Empleado" asp-items="@(new SelectList(ViewBag.Empleados, "Value", "Text"))" class="form-control">
                            <option value="">Seleccione un empleado</option>
                        </select>
                        <span asp-validation-for="Id_Empleado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cosmeticos" class="control-label">Cosmeticos</label>
                        <select asp-for="Cosmeticos" asp-items="@ViewBag.Cosmeticos" class="form-control" multiple multiple name="cosmeticoIds">
                        </select>
                        <span asp-validation-for="Cosmeticos" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto"><i class="bi bi-person-check"></i>Crear cita</button>
                    </div>
                </form>

                <a asp-controller="Cita" asp-action="VistaCita">Volver</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}